.allframe {
  // height: 765px;
  // width: 459px;
  // position: absolute;
  min-width: 80%;

  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .logotitle {
      font-family: "dumontCursive";
      font-size: 45px;
      display: flex;
      margin-top: 30px;
      margin-bottom: 30px;
      .logo {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 60px;
        padding-right: 5px;
        &__nounou {
          color: #d60093;
        }
        &__nous {
          color: #f27200;
        }
      }
    }
    a:link,
    a:visited,
    a:hover,
    a:active {
      text-decoration: none;
      margin-top: 20px;
      font-family: Arial, Helvetica, sans-serif;
      color: #f0f0f0;
    }
  }

  .paper {
    position: relative;
    top: 0;
    margin: 0 20px 40px 20px;
    padding-top: 20px;
    border-radius: 10px;
    max-height: 80vh;
    background-color: rgba(#f0f0f0, 0.7);
  }
}
