.page--background {
  height: 765px;
  width: 459px;
  background-color: #ffffff;
}
.img-1 {
  height: 1148px;
  width: 794px;
}
.all---frame {
  height: 765px;
  width: 459px;
}
.paper-_declare {
  height: 652px;
  width: 368px;
}
.paperback {
  opacity: 0.699999988079071;
  height: 652px;
  width: 368px;
  background-color: #efefef;
}
.calendar {
  height: 314px;
  width: 368px;
  background-color: rgba(51, 51, 51, 0);
}
.calendar-_lign {
  height: 50px;
  width: 362px;
}
.day-7 {
  border-radius: 6px;
  height: 50px;
  width: 50px;
  background-color: #d60093;
}
.text-2 {
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  font-family: Inter;
  line-height: auto;
  color: #000000;
}
.day-6 {
  border-radius: 6px;
  height: 50px;
  width: 50px;
  background-color: #d60093;
}
.text-3 {
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  font-family: Inter;
  line-height: auto;
  color: #000000;
}
.day-5 {
  border-radius: 6px;
  height: 50px;
  width: 50px;
  background-color: #d60093;
}
.text-4 {
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  font-family: Inter;
  line-height: auto;
  color: #000000;
}
.day-4 {
  border-radius: 6px;
  height: 50px;
  width: 50px;
  background-color: #d60093;
}
.text-5 {
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  font-family: Inter;
  line-height: auto;
  color: #000000;
}
.day-3 {
  border-radius: 6px;
  height: 50px;
  width: 50px;
  background-color: #d60093;
}
.text-6 {
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  font-family: Inter;
  line-height: auto;
  color: #000000;
}
.day-2 {
  border-radius: 6px;
  height: 50px;
  width: 50px;
  background-color: #d60093;
}
.text-7 {
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  font-family: Inter;
  line-height: auto;
  color: #000000;
}
.day {
  border-radius: 6px;
  height: 50px;
  width: 50px;
  background-color: #d60093;
}
.text-8 {
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  font-family: Inter;
  line-height: auto;
  color: #000000;
}
.calendar-_lign {
  height: 50px;
  width: 362px;
}
.day-7 {
  border-radius: 6px;
  height: 50px;
  width: 50px;
  background-color: #f27200;
}
.text-9 {
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  font-family: Inter;
  line-height: auto;
  color: #000000;
}
.day-6 {
  border-radius: 6px;
  height: 50px;
  width: 50px;
  background-color: #d60093;
}
.text-1-0 {
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  font-family: Inter;
  line-height: auto;
  color: #000000;
}
.day-5 {
  border-radius: 6px;
  height: 50px;
  width: 50px;
  background-color: #d60093;
}
.text-1-1 {
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  font-family: Inter;
  line-height: auto;
  color: #000000;
}
.day-4 {
  border-radius: 6px;
  height: 50px;
  width: 50px;
  background-color: #d60093;
}
.text-1-2 {
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  font-family: Inter;
  line-height: auto;
  color: #000000;
}
.day-3 {
  border-radius: 6px;
  height: 50px;
  width: 50px;
  background-color: #d60093;
}
.text-1-3 {
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  font-family: Inter;
  line-height: auto;
  color: #000000;
}
.day-2 {
  border-radius: 6px;
  height: 50px;
  width: 50px;
  background-color: #d60093;
}
.text-1-4 {
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  font-family: Inter;
  line-height: auto;
  color: #000000;
}
.day {
  border-radius: 6px;
  height: 50px;
  width: 50px;
  background-color: #d60093;
}
.text-1-5 {
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  font-family: Inter;
  line-height: auto;
  color: #000000;
}
.calendar-_lign {
  height: 50px;
  width: 362px;
}
.day-7 {
  border-radius: 6px;
  height: 50px;
  width: 50px;
  background-color: #d60093;
}
.text-1-6 {
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  font-family: Inter;
  line-height: auto;
  color: #000000;
}
.day-6 {
  border-radius: 6px;
  height: 50px;
  width: 50px;
  background-color: #d60093;
}
.text-1-7 {
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  font-family: Inter;
  line-height: auto;
  color: #000000;
}
.day-5 {
  border-radius: 6px;
  height: 50px;
  width: 50px;
  background-color: #d60093;
}
.text-1-8 {
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  font-family: Inter;
  line-height: auto;
  color: #000000;
}
.day-4 {
  border-radius: 6px;
  height: 50px;
  width: 50px;
  background-color: #d60093;
}
.text-1-9 {
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  font-family: Inter;
  line-height: auto;
  color: #000000;
}
.day-3 {
  border-radius: 6px;
  height: 50px;
  width: 50px;
  background-color: #d60093;
}
.text-2-0 {
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  font-family: Inter;
  line-height: auto;
  color: #000000;
}
.day-2 {
  border-radius: 6px;
  height: 50px;
  width: 50px;
  background-color: #d60093;
}
.text-2-1 {
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  font-family: Inter;
  line-height: auto;
  color: #000000;
}
.day {
  border-radius: 6px;
  height: 50px;
  width: 50px;
  background-color: #d60093;
}
.text-2-2 {
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  font-family: Inter;
  line-height: auto;
  color: #000000;
}
.calendar-_lign {
  height: 50px;
  width: 362px;
}
.day-7 {
  border-radius: 6px;
  height: 50px;
  width: 50px;
  background-color: #d60093;
}
.text-2-3 {
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  font-family: Inter;
  line-height: auto;
  color: #000000;
}
.day-6 {
  border-radius: 6px;
  height: 50px;
  width: 50px;
  background-color: #d60093;
}
.text-2-4 {
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  font-family: Inter;
  line-height: auto;
  color: #000000;
}
.day-5 {
  border-radius: 6px;
  height: 50px;
  width: 50px;
  background-color: #d60093;
}
.text-2-5 {
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  font-family: Inter;
  line-height: auto;
  color: #000000;
}
.day-4 {
  border-radius: 6px;
  height: 50px;
  width: 50px;
  background-color: #d60093;
}
.text-2-6 {
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  font-family: Inter;
  line-height: auto;
  color: #000000;
}
.day-3 {
  border-radius: 6px;
  height: 50px;
  width: 50px;
  background-color: #d60093;
}
.text-2-7 {
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  font-family: Inter;
  line-height: auto;
  color: #000000;
}
.day-2 {
  border-radius: 6px;
  height: 50px;
  width: 50px;
  background-color: #d60093;
}
.text-2-8 {
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  font-family: Inter;
  line-height: auto;
  color: #000000;
}
.day {
  border-radius: 6px;
  height: 50px;
  width: 50px;
  background-color: #d60093;
}
.text-2-9 {
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  font-family: Inter;
  line-height: auto;
  color: #000000;
}
.calendar-_lign {
  height: 50px;
  width: 362px;
}
.day-7 {
  border-radius: 6px;
  height: 50px;
  width: 50px;
  background-color: #d60093;
}
.text-3-0 {
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  font-family: Inter;
  line-height: auto;
  color: #000000;
}
.day-6 {
  border-radius: 6px;
  height: 50px;
  width: 50px;
  background-color: #d60093;
}
.text-3-1 {
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  font-family: Inter;
  line-height: auto;
  color: #000000;
}
.day-5 {
  border-radius: 6px;
  height: 50px;
  width: 50px;
  background-color: #d60093;
}
.text-3-2 {
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  font-family: Inter;
  line-height: auto;
  color: #000000;
}
.day-4 {
  border-radius: 6px;
  height: 50px;
  width: 50px;
  background-color: #d60093;
}
.text-3-3 {
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  font-family: Inter;
  line-height: auto;
  color: #000000;
}
.day-3 {
  border-radius: 6px;
  height: 50px;
  width: 50px;
  background-color: #d60093;
}
.text-3-4 {
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  font-family: Inter;
  line-height: auto;
  color: #000000;
}
.day-2 {
  border-radius: 6px;
  height: 50px;
  width: 50px;
  background-color: #d60093;
}
.text-3-5 {
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  font-family: Inter;
  line-height: auto;
  color: #000000;
}
.day {
  border-radius: 6px;
  height: 50px;
  width: 50px;
  background-color: #d60093;
}
.text-3-6 {
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  font-family: Inter;
  line-height: auto;
  color: #000000;
}
.calendar-_lign {
  height: 50px;
  width: 362px;
}
.day-7 {
  border-radius: 6px;
  height: 50px;
  width: 50px;
  background-color: #d60093;
}
.text-3-7 {
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  font-family: Inter;
  line-height: auto;
  color: #000000;
}
.day-6 {
  border-radius: 6px;
  height: 50px;
  width: 50px;
  background-color: #d60093;
}
.text-3-8 {
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  font-family: Inter;
  line-height: auto;
  color: #000000;
}
.day-5 {
  border-radius: 6px;
  height: 50px;
  width: 50px;
  background-color: #d60093;
}
.text-3-9 {
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  font-family: Inter;
  line-height: auto;
  color: #000000;
}
.day-4 {
  border-radius: 6px;
  height: 50px;
  width: 50px;
  background-color: #d60093;
}
.text-4-0 {
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  font-family: Inter;
  line-height: auto;
  color: #000000;
}
.day-3 {
  border-radius: 6px;
  height: 50px;
  width: 50px;
  background-color: #d60093;
}
.text-4-1 {
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  font-family: Inter;
  line-height: auto;
  color: #000000;
}
.day-2 {
  border-radius: 6px;
  height: 50px;
  width: 50px;
  background-color: #d60093;
}
.text-4-2 {
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  font-family: Inter;
  line-height: auto;
  color: #000000;
}
.day {
  border-radius: 6px;
  height: 50px;
  width: 50px;
  background-color: #d60093;
}
.text-4-3 {
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  font-family: Inter;
  line-height: auto;
  color: #000000;
}
.events-_add--button {
  border-radius: 6px;
  height: 28px;
  width: 159px;
  background-color: #efefef;
  border: 1px solid #1870c7;
}
.text-4-4 {
  text-align: center;
  vertical-align: middle;
  font-size: 11px;
  font-family: Inter;
  line-height: auto;
  color: #000000;
}
.text-4-5 {
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  font-family: Inter;
  line-height: auto;
  color: #000000;
}
.declare {
  height: 160px;
  width: 368px;
  background-color: #efefef;
}
.text-4-6 {
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  font-family: Inter;
  line-height: auto;
  color: #000000;
}
.declare-_salary {
  border-radius: 6px;
  height: 69px;
  width: 149px;
  background-color: #f27200;
  border: 1px solid rgba(0, 0, 0, 0);
}
.text-4-7 {
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  font-family: Inter;
  line-height: auto;
}
.declare-_element-_short {
  height: 20px;
  width: 160px;
}
.declare-_value {
  border-radius: 6px;
  height: 20px;
  width: 50px;
  background-color: #d60093;
}
.text-4-8 {
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
  font-family: Inter;
  line-height: auto;
  color: #ffffff;
}
.text-4-9 {
  text-align: left;
  vertical-align: middle;
  font-size: 10px;
  font-family: Inter;
  line-height: auto;
  color: #000000;
}
.declare-_element {
  height: 20px;
  width: 184px;
}
.declare-_value {
  border-radius: 6px;
  height: 20px;
  width: 49px;
  background-color: #d60093;
  border: 0px solid #000000;
}
.text-5-0 {
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
  font-family: Inter;
  line-height: auto;
  color: #f9f9f9;
}
.text-5-1 {
  text-align: left;
  vertical-align: middle;
  font-size: 10px;
  font-family: Inter;
  line-height: auto;
  color: #000000;
}
.declare-_element {
  height: 20px;
  width: 184px;
}
.declare-_value {
  border-radius: 6px;
  height: 20px;
  width: 49px;
  background-color: #d60093;
  border: 0px solid #000000;
}
.text-5-2 {
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
  font-family: Inter;
  line-height: auto;
  color: #f9f9f9;
}
.text-5-3 {
  text-align: left;
  vertical-align: middle;
  font-size: 10px;
  font-family: Inter;
  line-height: auto;
  color: #000000;
}
.declare-_element {
  height: 20px;
  width: 184px;
}
.declare-_value {
  border-radius: 6px;
  height: 20px;
  width: 49px;
  background-color: #d60093;
  border: 0px solid #000000;
}
.text-5-4 {
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
  font-family: Inter;
  line-height: auto;
  color: #f9f9f9;
}
.text-5-5 {
  text-align: left;
  vertical-align: middle;
  font-size: 10px;
  font-family: Inter;
  line-height: auto;
  color: #000000;
}
.declare-_element {
  height: 20px;
  width: 184px;
}
.declare-_value {
  border-radius: 6px;
  height: 20px;
  width: 49px;
  background-color: #d60093;
  border: 0px solid #000000;
}
.text-5-6 {
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
  font-family: Inter;
  line-height: auto;
  color: #f9f9f9;
}
.text-5-7 {
  text-align: left;
  vertical-align: middle;
  font-size: 10px;
  font-family: Inter;
  line-height: auto;
  color: #000000;
}
.declare-_element {
  height: 20px;
  width: 184px;
}
.declare-_value {
  border-radius: 6px;
  height: 20px;
  width: 49px;
  background-color: #d60093;
  border: 0px solid #000000;
}
.text-5-8 {
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
  font-family: Inter;
  line-height: auto;
  color: #f9f9f9;
}
.text-5-9 {
  text-align: left;
  vertical-align: middle;
  font-size: 10px;
  font-family: Inter;
  line-height: auto;
  color: #000000;
}
.declare-_element-_short {
  height: 20px;
  width: 160px;
}
.declare-_value {
  border-radius: 6px;
  height: 20px;
  width: 50px;
  background-color: #d60093;
}
.text-6-0 {
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
  font-family: Inter;
  line-height: auto;
  color: #ffffff;
}
.text-6-1 {
  text-align: left;
  vertical-align: middle;
  font-size: 10px;
  font-family: Inter;
  line-height: auto;
  color: #000000;
}
.day-_label {
  border-radius: 6px;
  height: 28px;
  width: 50px;
  background-color: #efefef;
}
.rectangle-1 {
  border-radius: 6px;
  height: 28px;
  width: 50px;
  background-color: #efefef;
  border: 1px solid #555555;
}
.text-6-2 {
  text-align: center;
  vertical-align: middle;
  font-size: 10px;
  font-family: Inter;
  line-height: auto;
  color: #000000;
}
.day-_label {
  border-radius: 6px;
  height: 28px;
  width: 50px;
  background-color: #efefef;
}
.rectangle-1 {
  border-radius: 6px;
  height: 28px;
  width: 50px;
  background-color: #efefef;
  border: 1px solid #555555;
}
.text-6-3 {
  text-align: center;
  vertical-align: middle;
  font-size: 10px;
  font-family: Inter;
  line-height: auto;
  color: #000000;
}
.day-_label {
  border-radius: 6px;
  height: 28px;
  width: 50px;
  background-color: #efefef;
}
.rectangle-1 {
  border-radius: 6px;
  height: 28px;
  width: 50px;
  background-color: #efefef;
  border: 1px solid #555555;
}
.text-6-4 {
  text-align: center;
  vertical-align: middle;
  font-size: 10px;
  font-family: Inter;
  line-height: auto;
  color: #000000;
}
.day-_label {
  border-radius: 6px;
  height: 28px;
  width: 50px;
  background-color: #efefef;
}
.rectangle-1 {
  border-radius: 6px;
  height: 28px;
  width: 50px;
  background-color: #efefef;
  border: 1px solid #555555;
}
.text-6-5 {
  text-align: center;
  vertical-align: middle;
  font-size: 10px;
  font-family: Inter;
  line-height: auto;
  color: #000000;
}
.day-_label {
  border-radius: 6px;
  height: 28px;
  width: 50px;
  background-color: #efefef;
}
.rectangle-1 {
  border-radius: 6px;
  height: 28px;
  width: 50px;
  background-color: #efefef;
  border: 1px solid #555555;
}
.text-6-6 {
  text-align: center;
  vertical-align: middle;
  font-size: 10px;
  font-family: Inter;
  line-height: auto;
  color: #000000;
}
.day-_label {
  border-radius: 6px;
  height: 28px;
  width: 50px;
  background-color: #efefef;
}
.rectangle-1 {
  border-radius: 6px;
  height: 28px;
  width: 50px;
  background-color: #efefef;
  border: 1px solid #555555;
}
.text-6-7 {
  text-align: center;
  vertical-align: middle;
  font-size: 10px;
  font-family: Inter;
  line-height: auto;
  color: #000000;
}
.day-_label {
  border-radius: 6px;
  height: 28px;
  width: 50px;
  background-color: #efefef;
}
.rectangle-1 {
  border-radius: 6px;
  height: 28px;
  width: 50px;
  background-color: #efefef;
  border: 1px solid #555555;
}
.text-6-8 {
  text-align: center;
  vertical-align: middle;
  font-size: 10px;
  font-family: Inter;
  line-height: auto;
  color: #000000;
}
.header {
  height: 73px;
  width: 459px;
}
.text-6-9 {
  text-align: center;
  vertical-align: top;
  font-size: 36px;
  font-family: Homemade Apple;
  line-height: auto;
  color: #000000;
}
.month--next {
  transform: rotate(-90deg);
  height: 39px;
  width: 39px;
}
.img-7-0 {
  height: 49px;
  width: 54px;
}
