.page--background {
  height: 765px;
  width: 459px;
  background-color: #ffffff;
}

.allframe {
  height: 765px;
  width: 459px;

  .paper-declare {
    height: 652px;
    width: 368px;

    &__paperback {
      opacity: 0.699999988079071;
      height: 652px;
      width: 368px;
      background-color: #efefef;
    }

    &__calendar {
      height: 314px;
      width: 368px;
      background-color: rgba(51, 51, 51, 0);

      &___lign {
        height: 50px;
        width: 362px;

        &__day {
          border-radius: 6px;
          height: 50px;
          width: 50px;

          &__nounou {
            background-color: #d60093;
          }

          &__parent {
            background-color: #f27200;
          }
        }
      }
    }
  }
}

.text-5-4 {
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
  font-family: Inter;
  line-height: auto;

  color: #f9f9f9;
}
.events-add-button {
  border-radius: 6px;
  height: 28px;
  width: 159px;
  background-color: #efefef;
  border: 1px solid #1870c7;
}
.declare {
  height: 160px;
  width: 368px;
  background-color: #efefef;

  &__value {
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    font-family: Inter;
    line-height: auto;
    color: #000000;
  }
}

.declare-_salary {
  border-radius: 6px;
  height: 69px;
  width: 149px;
  background-color: #f27200;
  border: 1px solid rgba(0, 0, 0, 0);
}

.declare-_value {
  border-radius: 6px;
  height: 20px;
  width: 50px;

  background-color: #d60093;
}

.declare__element {
  height: 20px;
  width: 184px;

  &___short {
    width: 160px;
  }
}

.text-5-8 {
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
  font-family: Inter;
  line-height: auto;
  color: #f9f9f9;
}

.text-6-0 {
  text-align: center;
  vertical-align: middle;
  font-size: 12px;

  font-family: Inter;
  line-height: auto;
  color: #ffffff;
}

.day-_label {
  border-radius: 6px;
  height: 28px;
  width: 50px;

  background-color: #efefef;
}

.rectangle-1 {
  border-radius: 6px;
  height: 28px;
  width: 50px;
  background-color: #efefef;

  border: 1px solid #555555;
}

.header {
  height: 73px;
  width: 459px;

  &__logo {
    height: 73px;
    width: 73px;
  }
}
.text-6-9 {
  text-align: center;
  vertical-align: top;
  font-size: 36px;
  font-family: Homemade Apple;
  line-height: auto;
  color: #000000;
}
.month--next {
  transform: rotate(-90deg);
  height: 39px;
  width: 39px;
}
.img-7-0 {
  height: 49px;
  width: 54px;
}
